body {
    margin: 0;
    font-family: "Manrope", sans-serif;
    background-color: #151515;
}


*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

/* header */
.header {
    background-image: url(assets/images/header-img.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.nav {
    padding-top: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 230px;
}

.nav__info {
    display: flex;
    align-items: center;
}

.nav__logo {
    padding-right: 37px;
    border-right: 1px solid rgba(255, 255, 255, .5);;
}

.nav__geo {
    margin-left: 24px;
    display: flex;
    align-items: center;
}

.location {
    color: #fff;
    font-size: 15px;
    margin-left: 11px;
    padding-right: 10px;
    border-right: 1px solid rgba(255, 255, 255, .5);
}

.nav__tel {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.tel {
    font-size: 15px;
    padding-left: 4px;
}

.nav__buttons {
    display: flex;
    align-items: center;
}

.en, .fr, .ru {
    margin-right: 12px;
}

.it {
    margin-right: 34px;
}

.button__burger {
    cursor: pointer;
    height: 21px;
    position: relative;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button__burger span {
    display: block;
    width: 16px;
    height: 2px;
    background-color: white;
    transition: all 0.3s ease;
}

.header__content {
    padding-bottom: 240px;
}

.content__title {
    font-family: "Playfair Display", serif;
    font-size: 71px;
    color: #fff;
    line-height: 1;
    margin-bottom: 30px;
}

.content__subtitle {
    font-size: 15px;
    color: #fff;
    line-height: 1.5;
    width: 511px;
}

.content__text {
    margin-bottom: 43px;
}

.download__link {
    border-bottom: 1px solid #fff;
    padding-bottom: 4px;
}

.message__link {
    color: #BE7E00;
    padding: 16px;
    background-color: #FFF9EC;
    border-radius: 7px;
}

.content__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* azur life block*/
.azur__life {
    height: 840px;
    background-color: #151515;
}

.azur__title {
    font-size: 85px;
    font-family: "Playfair Display", serif;
    color: #fff;
    font-weight: 400;
}

.azur__subtitle {
    font-size: 20px;
    color: #fff;
    margin-bottom: 55px;
}

.azur__text {
    width: 450px;
    color: #fff;
    font-size: 15px;
}

.azur__stats {
    width: 474px;
    display: flex;
    align-items: center;
}

.stat__block {
    margin-top: 65px;
    text-align: center;

}



.stat__title {
    font-family: "Playfair Display", serif;
    color: #fff;
    font-size: 85px;
    font-weight: 400;
}

.stat__subtitle {
    color: #fff;
    font-size: 12px;
    
}

.stat__line {
    width: 73px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateY(35px);
    padding-right: 28px;
    padding-left: 12px;
}

.last {
    padding-right: 12px;
}

.azur__link {
    display: inline-block;
    padding: 16px 32px;
    color: #fff;
    background-color: #262626;
    border-radius: 7px;
    margin-top: 45px;
    margin-bottom: 80px;
}

.azur__block {
    display: flex;
    justify-content: space-around;
}

.azur__img {
    margin-top: 52px;
    display: inline-block;
}

.azur__inner {
    margin-top: 144px;
}

.more {
    font-size: 15px;
    border-bottom: 1px solid #fff;
    float: inline-end;
    transform: translateX(-50px);
}

.user__img {
    position: relative;
    z-index: 2;
}

.user__text {
    position: absolute;
    color: #fff;
    transform: translateY(-95px);
    padding-left: 28px;
    z-index: 2;
}

.letterA {
    display: inline;
    z-index: 1;
    position: absolute;
    transform: translate(350px, -80px);
    width: 915px;
    height: 1013px;
}

/* available */
.available {
    background-color: #101010;
    padding-top: 113px;
    min-height: 1090px;
}

.available__text {
    position: relative;
    text-align: center;
    display: inline-block;
    margin-left: 100px;
}

.available__title {
    font-family: "Playfair Display", serif;
    font-size: 85px;
    font-weight: 400;
    color: #fff;
    margin: 0;
}

.all__objects {
    position: absolute;
    top: 0;
    right: -170px;
    transform: translateY(20px);
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    padding-bottom: 2px;
}


/* slider */
.slider__block {
    width: 708px;
    height: 675px;
}

.slider-block__geo {
    display: flex;
    align-items: center;
}

.slider-block__location {
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
}


.slider-block__text {
    position: relative;
    padding-top: 53px;
    padding-left: 48px;
    padding-bottom: 81px;
}

.slider-block__img {
    position: absolute;
    filter: brightness(90%)
}